body {
  display: flex;
  justify-content: center;
}

header {
  background-color: rgb(236, 236, 236);
}

.container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.textfield {
  width: 80%;
}

#submitButton {
  width: 40%;
  height: 50px;
}
